<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/CODE/SKILLO/automationDemos/selenium-testng-taf">
        <classes>
            <class name="annotationsDenos.BasicTestngAnnotationDemos">
                <methods>
                    <include name="basicTestAnnotation"/>
                </methods>
            </class>
            <class name="annotationsDenos.LoginTests">
                <methods>
                    <include name="validateUserCanLoginWithValidCredentialsTestsC"/>
                    <include name="validateTheUserCannotLoginWithNoPassowrdA"/>
                    <include name="validateTheUserCannotLoginWithNoUsernameC"/>
                    <include name="validateTheUserCannotLoginUserNameLenght8Symbols"/>
                    <include name="validateTheUserCannotLoginUserNameLenght44Symbols"/>
                    <include name="buyASingleProduct"/>
                </methods>
            </class>
            <class name="dataProviders.ProvideDemoWithDataProviders">
                <methods>
                    <include name="operateWithMathFunctions"/>
                    <include name="provideParamDemo"/>
                </methods>
            </class>
            <class name="dataProviders.DataProviderFromXMLDemo">
                <parameter name="full-name" value="Ivan Ivanov"></parameter>
                <methods>
                    <include name="testSingleParameter"/>
                </methods>
            </class>

            <class name="paralelTestExecutionDemo.ParallelSecondTests">
                <methods>
                    <include name="testMethodsThree"/>
                    <include name="testMethodsFour"/>
                </methods>
            </class>
            <class name="paralelTestExecutionDemo.ParallelTests">
                <methods>
                    <include name="testMethodsOne"/>
                    <include name="testMethodsTwo"/>
                </methods>
            </class>
            <class name="provideExeptionDemos.ProvideExeptionTestNGDemo">
                <methods>
                    <include name="provideExceptionDemoThatTestWillRunIfdeclaredExepctionIsProvided"/>
                </methods>
            </class>
            <class name="testNgAssertions.HardAssertionsDemo">
                <methods>
                    <include name="hardAssertionDemo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>